@using FavoriteClient.Models;
@{
  Layout = "_Layout";
}

@model  List<FavoriteClient.Models.Stylist>;

<h1>Welcome To The Salon!</h1>

<p>@Html.ActionLink("See a List of all Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See a List of all Clients", "Index", "Clients")</p>




 






